/.venv
/.idea
**/__pycache__/**
/pypp_cli/test_dir/.pypp/cpp/.clang-format
/pypp_cli/test_dir/.pypp/cpp/build/
/pypp_cli/test_dir/.pypp/cpp/pypp/
/pypp_cli/test_dir/.venv
/pypp_cli/test_dir/.idea
/pypp_cli/test_dir2
/pypp_cli/test_dir3
/pypp_cli/test_dir/.pypp/file_timestamps.json
dist/
pypp_cli.egg-info/