/.venv
/.idea
**/__pycache__/**
/compy_cli/test_dir/cpp/build
/compy_cli/test_dir/python/.venv
/compy_cli/test_dir/python/.idea
/compy_cli/test_dir2
/compy_cli/test_dir3
/compy_cli/test_dir/compy_files/file_timestamps.json
dist/
compy_cli.egg-info/